In [1]:
import akshare as ak
import pandas as pd
import datetime
import psycopg2

In [100]:
conn = psycopg2.connect(
        dbname="stock",
        user="postgres",
        password="postgrespw",
        host="127.0.0.1",
        port="55000"
    )

In [104]:
from sqlalchemy import create_engine
conn = create_engine('postgresql+psycopg2://postgres:postgrespw@localhost:55000/stock')

In [105]:
s = pd.read_sql("select trade_date from stock_hist where stock_no = %(stock_no)s", conn, params={'stock_no': '601668'})
z = s.trade_date.values.tolist()
m = [str(x) for x in z]

In [124]:
def czsczb(x):
    if x.收盘 > x.ma233:
        return 1
    elif x.收盘 > x.ma144:
        return 2
    elif x.收盘 > x.ma89:
        return 3
    elif x.收盘 > x.ma55:
        return 4
    elif x.收盘 > x.ma34:
        return 5
    elif x.收盘 > x.ma21:
        return 6
    elif x.收盘 > x.ma13:
        return 7
    elif x.收盘 > x.ma5:
        return 8
    else:
        return 9

In [125]:
today = datetime.date.today()
today_str = today.strftime("%Y%m%d")
last_year_str = (today - datetime.timedelta(days=365)).strftime("%Y%m%d")

stock_zh_a_hist_df = ak.stock_zh_a_hist(symbol='601668',
                                        period="daily",
                                        start_date=last_year_str,
                                        end_date=today_str,
                                        adjust="qfq")
stock_zh_a_hist_df["ma5"] = stock_zh_a_hist_df["收盘"].rolling(window=5).mean()
stock_zh_a_hist_df["ma13"] = stock_zh_a_hist_df["收盘"].rolling(window=13).mean()
stock_zh_a_hist_df["ma21"] = stock_zh_a_hist_df["收盘"].rolling(window=21).mean()
stock_zh_a_hist_df["ma34"] = stock_zh_a_hist_df["收盘"].rolling(window=34).mean()
stock_zh_a_hist_df["ma55"] = stock_zh_a_hist_df["收盘"].rolling(window=55).mean()
stock_zh_a_hist_df["ma89"] = stock_zh_a_hist_df["收盘"].rolling(window=89).mean()
stock_zh_a_hist_df["ma144"] = stock_zh_a_hist_df["收盘"].rolling(window=144).mean()
stock_zh_a_hist_df["ma233"] = stock_zh_a_hist_df["收盘"].rolling(window=233).mean()

stock_zh_a_hist_df["czsczb"] = stock_zh_a_hist_df.apply(lambda x: czsczb(x), axis=1)

In [126]:
insert_data = stock_zh_a_hist_df[~stock_zh_a_hist_df.日期.isin(m)]

In [127]:
insert_data.rename(columns={'日期': 'trade_date',
                                '开盘': 'open',
                                '收盘': 'close',
                                '最高': 'high',
                                '最低': 'low',
                                '成交量': 'volume',
                                '成交额': 'turnover',
                                '振幅': 'amplitude',
                                '涨跌幅': 'change_percent',
                                '涨跌额': 'change',
                                '换手率': 'turnover_rate'
                                }, inplace=True)

In [128]:
insert_data.to_sql(name="stock_hist", con=conn, index=False, if_exists='append')

243

In [92]:
ak.stock_zh_a_hist(symbol='601668',period="daily",start_date="2021-9-20",end_date="2022-9-21",adjust="hfq")

Empty DataFrame
Columns: []
Index: []